<h1>Add a new restaurants</h1>
<center><form class="" action="/user/signup" method="post">
  <br>
    <label for="input-name">Name:</label>
    <input id="input-name" type="text" name="nameValue" value="">

    <label for="input-lastname">Lastname:</label>
    <input id="input-lastname" type="text" name="lastnameValue" value="">

    <br>
    <label for="input-username">Username:</label>
    <input id="input-username" type="text" name="usernameValue" value="">

    <label for="input-password">Password:</label>
    <input id="input-password" type="password" name="passwordValue" value="">
    <br>

    <label for="input-email">Email:</label>
    <input id="input-email" type="email" name="emailValue" value="">
    <br>
<button class="btn btn-default">Sign Up</button>
</form></center>
