<div class="bg-faded p-4 my-4 container rest">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Restaurants<strong> worth visitng</strong></h2>
    <hr class="divider">
    <%if(typeof errorMessage !== 'undefined'){%>
        <%errorMessage.forEach((errorMessages)=>{%>
            <center>
                <li>
                    <%=errorMessages%>
                </li>
            </center>
            <%});%>
                <%}%>


                    <center>
                        <form class="" action="/add-restaurants" method="post">

                            <label for="input-name">Restaurants Name: </label>
                            <input id="input-name" type="text" name="nameValue" value="">

                            <label for="input-building">Building #: </label>
                            <input id="input-building" type="text" name="buildingValue" value="">
                            <br>
                            <label for="input-street">Street: </label>
                            <input id="input-street" type="text" name="streetValue" value="">

                            <label for="input-borough">City: </label>
                            <input id="input-borough" type="text" name="boroughValue" value="">
                            <br>
                            <label for="input-zipcode">Zipcode: </label>
                            <input id="input-zipcode" type="text" name="zipcodeValue" value="">

                            <label for="input-cuisine">Cuisine: </label>
                            <input id="input-cuisine" type="text" name="cuisineValue" value="">
                            <br>
                            <button class="btn btn-success">Submit</button>
</div>
