<div class="bg-faded p-4 my-4 container rest">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Restaurants<strong>worth visitng</strong></h2>
    <hr class="divider">
    <form class="" action="/signup" method="post">
        <label for="input-name">Name:</label>
        <input id="input-name" type="text" name="" value="nameValue">
        <label for="input-lastname">Lastname:</label>
        <input id="input-lastname" type="text" name="" value="lastnameValue">
        <label for="input-username">Username:</label>
        <input id="input-username" type="text" name="" value="usernameValue">
        <label for="input-email">Email:</label>
        <input id="input-email" type="text" name="" value="emailValue">
        <label for="input-password">Password:</label>
        <input id="input-password" type="text" name="" value="passwordValue">
    </form>
</div>
