
 <div class="bg-faded p-4 my-4 container rest">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Restaurants<strong>worth visitng</strong></h2>
    <hr class="divider">
<form class="" action="/signup" method="post">
  Name:
  Lastname:
  Username:
  Email:
  Password:
</form>
    </div>
