<div class="bg-faded p-4 my-4s container rest">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0"><strong>Details</strong></h2>
    <hr class="divider">
    <img class="img-fluid float-left hidden-md-down mr-lg-4" src="https://media2.giphy.com/media/DzD3ThwHcgMww/giphy.gif" alt="">

</div>
